.about {
  p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
  button {
    background-color: rgb(29, 88, 84);
    color: #fff;
    border: 1px rgb(29, 88, 84) solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }
  button:hover {
    background: transparent;
    color: black;
  }
}
