footer {
  background-color: rgb(10, 10, 7);
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    to right,
    black,
    rgb(29, 88, 84),
    
    
  );
  color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;

  hr {
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  .footer-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .row {
      width: 80vw;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 100px;
     

      .col {
        flex: 2;
        text-align: start;
        img{
            width:100px;
            height:auto;
            
        }
        li {
          list-style: none;
        }

        .contact-form {
          form {
            transition: all 4s ease-in-out;

            .form-control {
              width: 400px;
              background: transparent;
              border: none;
              outline: none;
              border-bottom: 1px solid grey;
              color: #fff;
              font-size: 12px;
            }
            input {
              height: 45px;
            }
            .submit {
              background: rgb(58,125,187);
              border-color: transparent;
              color: white;
              font-size: 15px;
              font-weight: bold;
              letter-spacing: 2px;
              height: 30px;
              margin-top: 20px;
            }
            .submit:hover {
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
