
  
  @keyframes outer-left {
    0% {
      transform: translateX(50%);
    }
    60% {
        transform: translateX(-5%);
    }
    100% {
      transform: none;
    }
  }

  @keyframes outer-top {
    0% {
      transform: translateY(-100%);
    }
    60% {
        transform: translatey(10%);
    }
    100% {
      transform: none;
    }
  }
  
 
.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &::before{
        z-index: 777;
        content: '';
        position: absolute;
        // background-color: rgba(29, 88, 84, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    img{
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .image-slide{
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 50%);

        &.active{
            clip-path: circle(150% at 0 50%);
            transition: 2s ease;
            transition-property: clip-path;
        }
    }

    .content{
       
        
        z-index: 888;
        width: 70%;
        margin-top: 50px;
        display: none;
        @media(max-width: 767px) {
            width: 100%;
        }
        &.active{
            display: block;

        }

        h1{
            animation: outer-top 1s 1s ease both;
            font-size: 3em;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 75px;
            margin-bottom: 40px;
            color: rgb(255, 255, 255);
            @media(max-width: 767px) {
                font-size: 2rem;
            }
        }
        p{
            animation: outer-left 1s 1s ease both;
            color: #FFF;
            background-color: rgba(34, 34, 34, 0.562);
            padding: 20px;
            @media(max-width: 767px) {
                font-size: 15px;
                animation: none;
            }
        }
    }

    .slider-navigation{
        z-index: 888;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(80px);
        margin-bottom: 12px;

        .nav-btn{
            width: 12px;
            height: 12px;
            background-color: #FFF;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
            transition: 0.3s ease;
            &:not(:last-child){
                margin-right: 20px;

            }

            &:hover{
                transform: scale(1.2);
            }
            &.active{
                background-color: blue;
            }
        }
    }

    .arrow{
        z-index: 999;
        width: 60px;
        height: 60px;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.432);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s ease;

        @media(max-width: 767px) {
            width: 30px;
            height: 30px;
            bottom: 50px;
        }
        &:hover{
            transform: scale(1.2);
        }
        i{
            color: #FFF;
            position: relative;
            font-size: 40px;
            @media(max-width: 767px) {
                font-size: 20px;
            }
        }
    }
    .slider-left-arrow{ 
        left: 10px;
    }

    .slider-right-arrow{        
        right: 10px;
    }
}

