@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  @media(max-width: 676px){
    ::-webkit-scrollbar {
        width: 2px;
      }
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #42110d;
  }
  
section{
    padding: 100px 200px;

    @media(max-width: 1140px){
        padding: 100px 20px;
    }
}

.section-title{
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-size:1.5rem; 
    font-weight:300; 
    color:#11484c; 
    letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

    &.light{
      color: #fff;
    }
}
  
.section-title:after,.section-title:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #11484c;
    border-top: 1px solid #11484c;
    height: 5px;
    background-color: inherit;

}
.light:after, .light::before{
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

@import 'navbar';
@import 'hero';
@import 'footer';
@import 'about';
@import 'services';
@import 'facilities';