@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 676px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42110d;
}

section {
  padding: 100px 200px;
}

@media (max-width: 1140px) {
  section {
    padding: 100px 20px;
  }
}

.section-title {
  margin-bottom: 40px;
  margin-top: 20px;
  display: inline-block;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  position: relative;
  padding-top: 30px;
}

.section-title.light {
  color: #ccc;
}

.section-title:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #211f7c;
}

.btn {
  background-color: #305080;
  color: #fff;
  border: 1px #1d5854 solid;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #305080;
  background-color: inherit;
}

.btn a {
  color: #fff;
}

.scroll-down {
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  -webkit-animation: scrollDown 2s ease infinite;
          animation: scrollDown 2s ease infinite;
}

@media (max-width: 767px) {
  .scroll-down {
    width: 20px;
    height: 20px;
  }
}

@-webkit-keyframes scrollDown {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes scrollDown {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.navbar {
  z-index: 1088;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.767);
  top: 0;
  width: 100%;
  padding: 0px 100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1140px) {
  .navbar {
    padding: 0 30px;
    height: 10vh;
    background-color: #222;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 0 10px;
    height: 10vh;
  }
}

.navbar img {
  height: 100px;
}

@media (max-width: 1140px) {
  .navbar img {
    height: 80px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    height: 60px;
  }
}

.navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar .nav-items.mobile-display {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  top: 10vh;
  width: 100vw;
  height: 50vh;
  background-color: #222;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 1140px) {
  .navbar .nav-items {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    right: -100%;
    top: -50vh;
    width: 60vw;
    height: 50vh;
    background-color: #222;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

.navbar .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1140px) {
  .navbar .nav-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 1140px) {
  .navbar .nav-items ul li {
    padding: 20px;
  }
}

.navbar .nav-items ul a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-items ul a:hover {
  color: #3a7dbb;
  font-weight: bold;
}

.navbar .hamburger {
  display: none;
}

@media (max-width: 1140px) {
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
}

.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navbar .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.navbar .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.navbar.active {
  background-color: #222;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active ul a {
  color: white;
}

.navbar.active .container {
  height: 80px;
  padding: 5px 0;
}

@-webkit-keyframes outer-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  60% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes outer-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  60% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes outer-top {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes outer-top {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.hero {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .hero {
    min-height: 40vh;
  }
}

.hero::before {
  z-index: 777;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .image-slide {
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.hero .image-slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.hero .content {
  position: absolute;
  bottom: -40px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 100%;
  z-index: 888;
  margin-top: 50px;
  display: none;
}

.hero .content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .content h1 {
  text-align: center;
  -webkit-animation: outer-top 1s 1s ease both;
          animation: outer-top 1s 1s ease both;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 55px;
  margin-bottom: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.377);
  padding: 10px;
  width: 100%;
}

@media (max-width: 767px) {
  .hero .content h1 {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 25px;
  }
}

.hero .content p {
  -webkit-animation: outer-left 1s 1s ease both;
          animation: outer-left 1s 1s ease both;
  color: #FFF;
  background-color: rgba(34, 34, 34, 0.562);
  padding: 20px;
}

@media (max-width: 767px) {
  .hero .content p {
    font-size: 15px;
    -webkit-animation: none;
            animation: none;
  }
}

.hero .slider-navigation {
  z-index: 888;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  margin-bottom: 12px;
  display: none;
}

.hero .slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background-color: #FFF;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero .slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.hero .slider-navigation .nav-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero .slider-navigation .nav-btn.active {
  background-color: blue;
}

.hero .arrow {
  z-index: 999;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 767px) {
  .hero .arrow {
    width: 30px;
    height: 30px;
  }
}

.hero .arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero .arrow i {
  color: #FFF;
  position: relative;
  font-size: 40px;
}

@media (max-width: 767px) {
  .hero .arrow i {
    font-size: 20px;
  }
}

.hero .slider-left-arrow {
  left: 10px;
}

.hero .slider-right-arrow {
  right: 10px;
}

footer {
  background-color: #0a0a07;
  width: 100%;
  bottom: 0;
  background: black;
  color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

footer hr {
  width: 80%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .footer-container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

footer .footer-container .row {
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

footer .footer-container .row .col {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: start;
  margin: 20px;
}

footer .footer-container .row .col i {
  padding: 10px;
  background-color: #3a7dbb;
  border-radius: 50%;
  margin-right: 10px;
  color: black;
}

footer .footer-container .row .col h2 {
  padding-bottom: 20px;
}

footer .footer-container .row .col img {
  width: 100px;
  height: auto;
}

footer .footer-container .row .col li {
  list-style: none;
  padding-bottom: 10px;
}

footer .footer-container .row .col .contact-form form {
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

footer .footer-container .row .col .contact-form form .form-control {
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  footer .footer-container .row .col .contact-form form .form-control {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  footer .footer-container .row .col .contact-form form .form-control {
    width: 200px;
  }
}

footer .footer-container .row .col .contact-form form input {
  height: 45px;
}

footer .footer-container .row .col .contact-form form .submit {
  background: #3a7dbb;
  border-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 30px;
  margin-top: 20px;
}

footer .footer-container .row .col .contact-form form .submit:hover {
  background-color: transparent;
  cursor: pointer;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222;
}

.about .section-title {
  text-align: center;
}

.about .about-container {
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-container .content {
  line-height: 30px;
  letter-spacing: 1.2px;
  padding: 80px;
}

@media (max-width: 1024px) {
  .about .about-container .content {
    padding: 30px;
  }
}

.about .about-container .slogan {
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .about .about-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .services .service-container {
    padding: 20px;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.services .service-container .service-images {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .service-container .service-images img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .services .service-container .service-images {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.services .service-container .service-content {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 50px;
  color: #000;
  width: 700px;
  border: 2px solid #222;
  border-radius: 1px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .services .service-container .service-content {
    padding: 20px;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.services .service-container .service-content ul {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 767px) {
  .services .service-container .service-content ul {
    margin-left: 20px;
  }
}

.services .service-container .service-content li {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 767px) {
  .services .service-container .service-content li {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.services .service-container .service-content li:hover {
  background-color: #3d78ac;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services .service-container .service-content li::marker {
  content: "▶";
  color: red;
}

.facilities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  /* Handle */
}

@media (max-width: 767px) {
  .facilities-container {
    gap: 5px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.facilities-container::-webkit-scrollbar {
  width: 2px;
}

.facilities-container::-webkit-scrollbar-track {
  background: #0c56b8;
}

.facilities-container::-webkit-scrollbar-thumb {
  background: #94bbee;
}

.facilities-container .facility {
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.facilities-container .facility:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #eee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.facilities-container .facility img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facilities-container .facility .content {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .facilities-container .facility .content {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */